<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<!-- Defining the student bean with properties -->
    <bean class="Spring.Student" name="student1">
        <property name="studentid" value="300"/>
        <property name="studentname" value="programming with pitamber"/>
        <property name="studentAddress" value="London USA"/>
   </bean>

</beans>
